{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block title %}<title>Gallerypage</title>{% endblock %}
  </head>
  <body>
    {% block content %}
    <img src="{%  static 'images/gallerys.jpg' %}" style="height:250px;width:100%"class="img-thumbnail">
    <br><br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'images/in.jpeg' %}" style="width:100%;height:100%"class="img-thumbnail">
        </div>
        <div class="col-md-4">
          <img src="{% static 'images/inst.jpg' %}" style="width:100%;height:100%"class="img-thumbnail">
        </div>
        <div class="col-md-4">
          <img src="{% static 'images/job.jpg' %}" style="width:100%;height:100%"class="img-thumbnail">
        </div>
        <div class="col-md-4">
          <img src="{% static 'images/offline.jpeg' %}" style="width:100%;height:100%"class="img-thumbnail">
        </div>
        <div class="col-md-4">
          <img src="{% static 'images/online.jpg' %}" style="width:100%;height:100%"class="img-thumbnail">
        </div>
        <div class="col-md-4">
          <img src="{% static 'images/onoffe.jpg' %}" style="width:100%;height:100%"class="img-thumbnail">
        </div>
        <div class="col-md-4">
          <img src="{% static 'images/ggh.jpeg' %}" style="width:100%;height:100%"class="img-thumbnail">
        </div>
        <div class="col-md-4">
          <img src="{% static 'images/gallery.jpeg' %}" style="width:100%;height:100%"class="img-thumbnail">
        </div>
        <div class="col-md-4">
          <img src="{% static 'images/inst.jpg' %}" style="width:100%;height:100%"class="img-thumbnail">
        </div>

      </div>

    </div>
    {% endblock %}

  </body>
</html>
