{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
    {% include 'alerts.html' %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <img src="{% static 'images/logo.jpg' %}" style="width:180px; height:120px" class="border">

        </div>
        <div class="col-md-10">
          <div class="row">
            <h1 class="text-white bg-info px-4 py-4">CREATIVE TRAINING AND PLACEMENT INSTITUTE </h1>
            <h5></h5>
            <h5 class="text-info">  We provide training for different technologies and excellent placement opportunities for our students  </h5>

          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container">
      <div class="rows">
          <br><br><br>
          <h1 class="text-white bg-info text-center">ABOUT US</h1>
          <p>We are a group of ten started as a startup spirit now we are teaching around 100 students in our institute
          we provide excellent services to our students provide traing in variety of technologies and shpe their career
        apart from this we also provide them with excellent placement opportunites as well Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        A mission.
The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.What we’ve found fits neatly into the metaphor of a river. The young river is noisy, and energetic enough to cut its own course, create waterfalls, be harnessed to wheels and turbines. The middle aged river is deep and measured. It’s more settled in its landscape and still irresistible in its movement. The mature river is broad, has wider horizons. It nurtures its landscape, and on its tides float whole industries.

First of all, every young business benefits from a founder’s story. Most will have created one on instinct but it’s one thing to know it and another to tell it well. Sharon’s blog outlined the building blocks of a successful story, and we’re just going to summarise them here:

An inciting incident – the experience, encounter or revelation that makes you think: I could do better, more or different,
A mission – whose world do you want to change, and why. This sense of purpose or cause, of contributing to a narrative that’s bigger than you are, is the mainspring of a young business.
A villain – who or what are you fighting against?
Who are you fighting for? It’s unlikely to be all of humanity (but kudos if that’s you) so where and who is your tribe?</p>
       <br><br> <br>
        <h1 class="text-white bg-info text-center">FOUNDER</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="{% static 'images/prof.jpeg' %}" style="width:210px;height:230px" class="border">


        </div>
        <div class="col-md-9">
          <p> the purpose and value of a founder’s story, beyond the heated, frantic, early startup period. Is there one? For example it’s impressive that Jeff Bezos started in his shed, with almost nothing, and changed the face of retail forever. It’s less impressive that the world’s richest man now pays his 800,000 employees next to nothing and has clearly yet to get over the shed thing. And neither of those stories influences most people’s buying The founder’s tale, if it’s going to be useful long term, probably has to outlive the founder themselves.

So we set about researching the history and fortunes of some businesses that seemed to still achieve value from their founder’s story. It’s difficult to sort the marketing spaff from reality in many cases and especially in larger, more mature organisations. The nice thing about traditions is that it seems you can always invent a better one. But as a proof of concept we think this holdsSuccessful entrepreneur Bart Hartman encountered fuel poverty at first hand while travelling the third world. Realising that philanthropy couldn’t scale to meet the challenge (he tried), and that NGOs had already failed to make an impact, Bart founded NOTS Solar Lamps specifically to bring affordable light and power to 125 million households in Sub Saharan Africa, starting in Rwanda.

NOTS now manufactures solar home systems in Africa, for Africans, funded by African investment. Every innovation and decision is geared towards making the systems affordable to the poorest households and – crucially – cheaper and cleaner to run than traditional kerosene lamps. It’s about choices, not charity.


 </p>


        </div>

        </div>

      </div>

    </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-white bg-info text-center">OUR TRAINERS</h1>
    </div>
  </div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'images/man.jpeg' %}" style="width:250px;height:250px"class="img-thumbnail">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/profe.jpg' %}" style="width:250px;height:250px"class="img-thumbnail">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/pat.jpeg' %}" style="width:250px;height:250px"class="img-thumbnail">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/ame.jpeg' %}" style="width:250px;height:250px"class="img-thumbnail">
    </div>
  <br><br><br>







    {% endblock %}

  </body>
</html>
